// Переменные
$maw:1170px; // Максимальная ширина контейнера
$mawSocial: 500px; // Ширина скрытия соц. сетей сбоку
$bgc:#1B171E; // Фоновый цвет
$mm:15px; // Отсупы по бокам у элемента при достижении его максимальной ширины
$as:.28s; // Скорость анимации у элементов
$es:ease; // Плавность анимации
$mc:#2D1442; // Главный Цвет
$bc:#211C25; // Цвет item-ов
$dc:#110F13; // Тёмный цвет
$pc:#A844FF; // Пассивный Цвет 692C9E
$tc:#ECF1FF; // Цвет Текста
$ff:Poppins,sans-serif; // Шрифт по умолчанию
$md1:1440px;// breakpoint №1
$md2:1024px;// breakpoint №2
$md3:910px; // breakpoint №3
$md4:768px; // breakpoint №4
$md5:610px; // breakpoint №5
$md6:540px; // breakpoint №6
$md7:425px; // breakpoint №7
$md8:375px; // breakpoint №8