// Обнуление
body{background: $bgc;font-family: $ff;color: $tc;font-weight: 300;}
*::before,*::after,*{margin: 0;padding:0;box-sizing: border-box;}
a:active,a:focus,input:focus,textarea:focus{outline: none;}
button{cursor: pointer;outline:none;font-family: $ff;color: $tc;}
header,section{overflow-x: hidden;width: 100%;}
button:-moz-focus-inner{padding: 0;border: 0;}
a{text-decoration: none;color: $tc;}
input{border: 0;font-family: $ff;}
a,img,button,span{display: block;}
ul li{list-style: none;}
html,body{min-height:100%;}
hr{border: none;}
h6,h5,h4,h3,h2,h1{font-weight: 500;}
b{font-weight: 500;}