@keyframes loading_1 {
	from {
		transform: rotate(0deg);
	} to {
		transform: rotate(-360deg);
	}
}

@keyframes loading_2 {
	from {
		transform: rotate(0deg);
	} to {
		transform: rotate(360deg);
	}
}

.preloader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 60px 0;
	background-color: $bgc;

	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	transition: opacity $as $es, transform $as $es;

	z-index: 1000;

	&_hide {
		opacity: 0;
		transform: scale(.85);
	}

	&__loading {
		position: relative;
		width: 140px;
		height: 140px;

		justify-content: center;
		align-items: center;
	}

	&__loading-item {
		max-width: 100%;

		&_1 {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			animation: loading_1 4s linear infinite;
		}

		&_2 {
			animation: loading_2 3s linear infinite;
		}
	}
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	padding: 6px 0;
	transition: transform $as $es;
	z-index: 250;

	&__gradient {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
		background-image: linear-gradient(0deg, transparent, rgba($bgc, .65), rgba($bgc, .95));
		transition: opacity $as $es;
		z-index: 1;
	}

	&.colored {
		.header__gradient {
			opacity: 1;
		}
	}

	&_hided {
		transform: translateY(-100%);
	}

	&__row {
		position: relative;
		justify-content: space-between;
		align-items: center;
		z-index: 10;
	}

	&__column {
		&_1 {
			position: relative;
			z-index: 100;
		}

		&_3 {
			display: none;
		}
	}

	&__logo-block {
		max-width: 135px;
	}

	&__logo {
		max-width: 100%;
		width: 100%;
		transform: scale(1);
		cursor: pointer;
		transition: transform .2s $es;

		&_clicked {
			transform: scale(.9);
		}
	}

	&__mobile-logo {
		&-block {
			display: none;
		}
	}

	&__list {
		align-items: center;
	}

	&__item {
		position: relative;
		padding: 4px;
		font-size: 16px;
		cursor: pointer;

		&-name {
			text-shadow: 0 0 0 $pc;
			font-weight: 300;
			transition: text-shadow $as $es;
		}

		&_weight-version {
			position: absolute;
			top: 4px;
			left: 3px;
			font-weight: 500;
			font-size: inherit;
			text-shadow: 0 0 4px $pc;
			opacity: 0;
			transition: opacity $as $es;
		}

		span {
			color: $tc;
			font-size: 17px;
		}

		&::before {
			content: "";
			display: block;
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
			
			width: 0;
			height: 1px;
			box-shadow: 0 0 4px 0 $pc;
			background-color: $tc;
			opacity: 0;
			transition: width $as $es, opacity $as $es;
		}

		& + & {
			margin: 0 0 0 18px;
		}

		&_active {
			.header__item_weight-version {
				opacity: 1;
			}
		}

		&:hover {
			.header__item-name {
				text-shadow: 0 0 6px $pc;
			}

			&::before {
				width: 100%;
				opacity: 1;
			}
		}
	}

	&__link {
		padding: 6px 16px;
		background-color: $tc;
		border: 2px solid $tc;
		border-radius: 44px;

		font-weight: 500;
		color: $mc;

		transition: background-color $as $es;

		&-block {
			margin: 0 0 0 26px;
			align-items: center;
		}

		&:hover {
			background-color: rgba($tc, .75);
		}
	}
}

@media screen and (max-width: $md4){
	.header {
		&__logo-block {
			max-width: 90px;
		}

		&__item {
			span {
				font-size: 15px;
			}

			& + & {
				margin: 0 0 0 12px;
			}
		}

		&__link-block {
			margin: 0 0 0 18px;
		}
	}
}

@media screen and (max-width: $md5){
	.header {

		&__item_weight-version {
			display: none;
		}

		&__column_3 {
			display: block;
		}

		&__column_2 {
			position: fixed;
			top: 0;
			left: 0;
			transform: translateX(-100%);

			width: 100%;
			max-width: 320px;
			height: 100vh;
			background-image: linear-gradient(0deg, rgba($bgc, .4), rgba($mc, .9));
			padding: 0 0 $mm $mm;
			transition: transform $as $es;

			flex-direction: column;
			justify-content: center;

			&.show {
				transform: translateX(0%);
				
				.header__item span {
					transform: translateX(0);
					opacity: 1;

					&.header__item_delay {
						&-first {
							transition-delay: $as;
						}
						&-second {
							transition-delay: $as + .08s;
						}
						&-third {
							transition-delay: $as + .16s;
						}
						&-fourth {
							transition-delay: $as + .24s;
						}
						&-fifth {
							transition-delay: $as + .32s;
						}
					}
				}

				.header__link {
					transform: translateX(0);
					opacity: 1;

					&.header__item_delay-sixth {
						transition-delay: $as + .4s;
					}
				}
			}
		}

		&__inner {
			margin: 70px 0 $mm;
			overflow: auto;
		}

		&__nav, &__list {
			flex-direction: column;
			align-items: flex-start;
		}

		&__item {
			span {
				opacity: 0;
				transform: translateX(-30px);
				font-size: 24px;
				transition: transform $as $es, opacity $as $es;
			}

			& + & {
				margin: 18px 0 0;
			}
		}

		&__link {
			opacity: 0;
			transform: translateX(-30px);
			transition: transform $as $es, opacity $as $es;

			&-block {
				margin: 24px 0 0;
			}
		}
	}

	.burger {
		position: relative;
		width: 40px;
		height: 30px;
		display: block;
		background-color: transparent;
		border: 0;
		z-index: 45;

		&__span {
			position: absolute;
			right: 0;
			height: 2px;
			border-radius: 2px;
			background-color: $tc;
			box-shadow: 0 0 4px 0 $pc;
			transition: $as $es;

			&_1 {
				top: 0;
				width: 100%;
				transform-origin: right top;
			}

			&_2 {
				width: 60%;
				top: 50%;
				transform: translateY(-50%);
			}

			&_3 {
				width: 30%;
				bottom: 0;
				transform-origin: right top;
			}
		}

		&.burger_active {

			.burger__span {
				&_1 {
					transform: rotate(-44.5deg);
				}

				&_2 {
					width: 0;
				}

				&_3 {
					right: -1px;
					width: 100%;
					transform: rotate(44.5deg);
				}
			}
		}
	}

	// Отмена прокрутки
	body.lock{overflow: hidden;}	
}

.social {
	position: fixed;
	top: 50%;
	right: $mm;
	transform: translateY(-50%);
	z-index: 100;

	&__item {
		& + & {
			margin: 8px 0 0;
		}
	}
}

.page__social-link, .social__link {
	padding: 8px;
	border: 2px solid $tc;
	box-shadow: inset 0 0 7px 0 $pc, 0 0 7px 0 $pc;
	border-radius: 50%;
	transition: background-color $as $es, box-shadow $as $es;

	span {
		font-size: 22px;
		text-shadow: 0 0 5px $pc;
		transition: color $as $es;
	}

	&:hover {
		background-color: $tc;
		box-shadow: 0 0 5px $pc;

		span {
			color: $bgc;
		}
	}
}

.page {
	position: relative;
	min-height: 100vh;
	padding: 70px 0 0;
	flex-direction: column;
	overflow: hidden;
	z-index: 1;

	.container {
		flex: 1 1 auto;
		flex-direction: column;
	}

	&__content {
		flex: 1 1 auto;
		height: 100%;
		flex-direction: column;
		justify-content: space-between;
	}

	&__parallax {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-image: url("../images/page/background.jpg");
		
		z-index: -1;
	}

	&__row {
		width: 100%;
		align-items: center;
		flex: 1 1 auto;
	}

	&__column {
		&_1 {
			flex: 0 0 60%;
			padding: 0 10px;
		}

		&_2 {
			flex: 0 0 40%;
		}
	}

	&__title {
		font-size: 72px;
		font-weight: 400;
		line-height: 130%;
		font-family: "Kaushan Script", sans-serif;
	}

	&__subtitle {
		letter-spacing: 1px;
		margin: 8px 0 20px;
		font-size: 28px;
		text-decoration: underline;
	}

	&__text {
		line-height: 180%;
		letter-spacing: 1px;
	}

	&__social-block-mobile {
		width: 100%;
		margin: 20px 0 0;
		display: none;
	}

	&__social-item {
		
		& + & {
			margin: 0 0 0 8px;
		}
	}

	&__image-block {
		width: 100%;
	}

	&__image {
		position: relative;
		flex: 1 1 auto;
		flex-direction: column;

		background-image: url("../images/author/avatar.jpg");
		border-radius: 50%;
		border: 5px solid $tc;
		box-shadow: inset 0 0 12px 0 $pc, 0 0 12px 0 $pc;
	}

	&__image-link {
		width: 100%;
		flex: 1 1 auto;
		align-items: center;
		border-radius: 50%;
		opacity: 0;
		background-color: rgba($pc, .2);
		transition: opacity $as $es;

		&:hover {
			opacity: 1;
		}
	}

	&__image-text {
		width: 100%;
		text-align: center;

		span {
			display: inline;
		}
	}

	&__image-link-source {
		font-weight: 500;
		letter-spacing: 1px;
	}

	&__arrow-block {
		justify-content: center;
	}

	&__arrow-btn {
		position: relative;
		padding: 16px 4px;
		border: 0;
		background-color: transparent;

		span {
			font-size: 36px;
			color: $tc;
			text-shadow: 0 0 8px $pc;
			transition: font-size $as $es;
			animation: arrowAnimetion 1.5s ease infinite;
		}

		&:hover {
			span {
				font-size: 38px;
			}
		}
	}
}

@keyframes arrowAnimetion {
	0% {
		transform: translateY(-6px);
	}
	50% {
		transform: translateY(6px);
	}
	100% {
		transform: translateY(-6px);
	}
}

@media screen and (max-width: 1315px){
	.page {
		.container {
			@include slim();
		}
	}
}

@media screen and (max-width: $md3){
	.page {

		&__title {
			font-size: 54px;
		}

		&__subtitle {
			font-size: 20px;
			margin: 12px 0 14px;
		}

		&__text {
			font-size: 15px;
		}
	}
}

@media screen and (max-width: $md4){
	.page {
		&__image-link {
			display: none !important;
		}
	}
}

@media screen and (max-width: 700px){
	.page {

		&__title {
			font-size: 42px;
		}

		&__subtitle {
			font-size: 18px;
		}

		&__text {
			font-size: 14px;
		}
	}
}

@media screen and (max-width: 650px){
	.page {
		padding: 44px 0 0;

		&__row {
			flex-direction: column-reverse;
			align-items: center;
		}

		&__column {
			padding: 0;

			& + & {
				margin: 18px 0 0;
			}

			&_2 {
				width: 62%;
			}
		}
	}
}

@media screen and (max-width: $md7){
	.page {

		.container {
			padding: 0 $mm;
		}

		&__social-block-mobile {
			display: flex;
		}
	}
}